@import "/src/App.scss";
.recipes {
  text-align: center;
  padding: 2rem;
  padding-top: 5rem;
  position: relative;
  min-height: 100vh;
  .arrow-left {
    font-size: 5rem;
    position: absolute;
    left: 0;
    top: 7rem;
    color: $color--primary;
    cursor: pointer;
  }
  
  .recipes__heading {
    margin-top: 2rem;
    margin-bottom: 7rem;
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(
      to right,
      $color--primary,
      $color--secondary
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond(phone) {
      justify-content: center;
    }
    .recipe {
      margin-bottom: 1rem;
      width: 30rem;
      @include respond(phone) {
        margin-bottom: 2rem;
      }

      .btn {
        padding: 1rem;
        background-color: $color--primary;
        border: none;
        cursor: pointer;
        transition: all 0.2s;
        font-family: inherit;
        &:active {
          outline: none;
        }
      }
      .liked {
        background-color: $color--secondary;
        color: #fff;
      }
      &__title {
        font-size: 1.2rem;
        padding: 1rem;
        color: $color--white;
        background: linear-gradient(
          to right,
          $color--primary,
          $color--secondary
        );
      }
      &__image {
        width: 100%;
        transition: all 0.2s;
        cursor: pointer;
      }
    }
  }
  .bouncerContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    .bouncer{
      width: 7rem;
      height: 7rem;
      background-color: $color--primary;
      border-radius: 50%;
      animation: bouncer 1s linear infinite;
    }
  }
}
@keyframes bouncer {
  from {transform: scale(0); opacity: 0;}
  to{transform: scale(1); opacity: 1;}
}
