@import "/src/App.scss";
.home {
  position: relative;
  

  padding-top: 5rem;
  @include respond(phone) {
    padding-top: 14rem;
  }
  &__heroSection {
    position: relative;

    .container1 {
        position: absolute;
        height: 20rem;
        width: 20rem;
        background-color: $color--white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        right: 3rem;
        bottom: -10rem;
         transition: all .2s;
         animation: slideInRight 1s;
       
        &:hover {
           outline: 10px solid $color--primary;
          outline-offset: 10px 
        }
        @include respond(tab-land){
          height: 15rem;
          width: 15rem;
          top: 70%;
        }
        @include respond(tab-port){
          top: 70%;
        }
        @include respond(phone){
          height: 10rem;
          width: 10rem;
        }
        .img{
          width: 100%;
          height: 100%;
        }
       
      }
      .container2 {
        position: absolute;
        height: 20rem;
        width: 20rem;
        background-color: $color--white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        left: 50%;
        top: 40%;
        transition: all .2s;
        animation: slideInLeft 1s;
        backface-visibility: hidden;
       
        &:hover {
           outline: 10px solid $color--primary;
          outline-offset: 10px 
        }
         @include respond(tab-land){
          height: 15rem;
          width: 15rem;
          
        }
          
        @include respond(phone){
          height: 10rem;
          width: 10rem;
        }
        .img{
          width: 100%;
          height: 100%;
        }
       
      }
    display: flex;
    justify-content: space-around;
    &-textbox {
      width: 30%;

      &--primary {
        font-size: 6rem;
        margin-bottom: 3rem;
        @include respond(phone) {
          font-size: 2rem;
        }
      }
      &--secondary {
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 3rem;
      }
      &--cta {
        position: relative;
       
        span {
          position: relative;
          z-index: 2;
        }
      }
      &--cta::before {
          content: '';
          height:100%;
          width: 0;
          background-color: $color--primary;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .3s ;
          z-index: 1;
          visibility: hidden;
          opacity: 0;
          border-radius: 5px;
         
         
        }
        
      &--cta:visited,
      &--cta:link {
        text-decoration: none;
        padding: 1.5rem;
        border:  2px solid $color--primary;
       
        font-size: 1.5rem;
        border-radius: 5px;
        color: black;
        transition: all .6s;
        transform-origin: center;

      &:hover {
         border:  none;
      }
        &:hover::before {
           width: 100%;
           visibility: visible;
           opacity: 1;
        
        }
      }
    }
    .imgContainer {
      width: 35rem;
      height: 35rem;
      @include respond(phone) {
        width: 20rem;
        height: 20rem;
      }
      .img {
        width: 100%;
        height: 100%;
      }
      
    }
  }
  .recipes {
    background-color: #fff;
    margin-top: 20rem;
    padding: 5rem 1rem;
    .recipesContainer {
      display: flex;
      justify-content: center;
    }
    .heading--primary {
      text-align: center;
      text-transform: capitalize;
      font-size: 6rem;
      font-weight: 100;
      display: inline-block;
      background-image: linear-gradient(
        to right,
        $color--primary,
        $color--secondary
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
      }
      @include respond(phone) {
        font-size: 4rem;
      }
    }
    .paragraph {
      font-size: 2rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  25% {
    opacity: .4;
  }
50% {
  opacity: .6;
}
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  25% {
    opacity: .4;
  }
50% {
  opacity: .6;
}
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}