@import '/src/App.scss';
.footer{
    
  
    text-align: center;
    background: linear-gradient(to right bottom, $color--primary, $color--secondary);
    padding: 5rem;
    font-size: 1.7rem;
    color: rgba(0,0,0,.7);
   
    
    
    
}