@import "/src/App.scss";
.form {
  margin-bottom: .5rem;
  &--search {
    padding: 0.8rem 1rem;
    border: none;
    background-color: $color--white;
    border: 1px solid $color--primary;
    @include respond(phone) {
      width: 12rem;
    }
    &:focus{
      outline: none;
    }
  }
}
